input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.timer_text{
    margin-left: 2%;
}
.score_text{
    float: right;
    margin-right: 4%;
}

.MidContainer {
    margin-top: 20vh;
    margin-left: 44%;
}

.QuestionNumberText{
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.QuestionText{
    padding: 0;
    margin: 0;
    margin-left: 5px;
    font-size: 50px;
    font-weight: 900;
}

.Answer {
    margin-top: 10px;
    border-radius: 1em;
    height: 25px;
    width: 21%;
    box-shadow: 0 0 5px rgb(80, 96, 241);
    font-weight: 700;
    padding-left: 10px;
    font-size: 20px;
    color: gray;
}

.button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Change to your desired background color */
    color: #fff; /* Text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.button:hover {
    background-color: #0056b3; /* Change to a slightly darker color on hover */
}

/* Additional Styles (Optional) */
.button:focus {
    outline: none; /* Remove the default focus outline */
}

.hidden{
    display: none;
}

.Result{
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 20px rgba(41, 88, 241, 0.7);
    padding: 10px;
}

.Question{
    margin-bottom: 30px;
    font-size: 25px;
}

.Answers{
    margin-top: 10px;
    font-size: 20px;
}

.CorrectAnswer{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 19px;
}

.Time{
    margin: 5px 0px;
    font-size: 19px;
}

.red{
    color: red;
}

#score{
    font-size: 20px;
    font-weight: 900;
}